$primary-normal: #140d1a;
$primary-dark: #42142a;
$primary-light: #ff2e5f;

$secondary-normal: #ffd452;
$secondary-light: #faeeca;


$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #fff;
$white-dark: #edeaef;
$white-light: #fefbff
